{
  "plugins": [
    "prettier-plugin-astro",
    "prettier-plugin-svelte"
  ],
  "semi": false,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 90,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "svelteStrictMode": true
}
