---
import Base from '@app/layouts/Base.astro'
import Hero from '@app/components/Hero.svelte'
import Section from '@app/components/Section.svelte'
import Typography from '@app/components/Typography.svelte'
import ArticleContainer from '@app/components/ArticleContainer.svelte'
import Article from '@app/components/Article.svelte'
import Button from '@app/components/Button.svelte'
import { t, changeLanguage } from 'i18next'

changeLanguage('fr')
---

<Base title="" description="">
  <Hero
    title={[t('home:heroTitle.base'), t('home:heroTitle.highlight')]}
    imageSrc="/images/keyboard.png"
    imageAlt={t('home:heroImageAlt')}
    tagLines={[
      t('home:heroTagLines.0'),
      t('home:heroTagLines.1'),
      t('home:heroTagLines.2'),
      t('home:heroTagLines.3'),
    ]}
    arrowLabel={t('home:heroArrowLabel')}
  />

  <Section title="My latest video">
    <iframe
      class="w-full aspect-video"
      src="https://player.twitch.tv?channel=llcoolchris_&parent=localhost&parent=christopher2k.dev"
      allowfullscreen
    >
    </iframe>
  </Section>

  <Section title="My indie stories">
    <Typography class="mb-10"
      >Let me tell you stories about me, on the path of building my own products...</Typography
    >
    <ArticleContainer class="mb-10">
      <Article />
      <Article />
      <Article />
    </ArticleContainer>
    <Button link={{ href: '/indie-stories' }} label="See more about indie stuff" />
  </Section>

  <Section title="Recent blog posts">
    <Typography class="mb-10"
      >As an engineer, it’s important to share and classify all the events, all the
      research you’re going through in your day job. You might learn one or two things in
      those articles.</Typography
    >
    <ArticleContainer class="mb-10">
      <Article />
      <Article />
      <Article />
    </ArticleContainer>
    <Button link={{ href: '/blog' }} label="See more blog posts" />
  </Section>
</Base>
