---
import { changeLanguage } from 'i18next'
import { Image } from '@astrojs/image/components'
import Base from '@app/layouts/Base.astro'
import Hero from '@app/components/Hero.svelte'
import Section from '@app/components/Section.svelte'
import ArticleShowcase from '@app/components/ArticleShowcase.svelte'
import ShowcaseContainer from '@app/components/ShowcaseContainer.astro'
import Button from '@app/components/Button.svelte'
import SectionCenteredFooter from '@app/components/SectionCenteredFooter.astro'

changeLanguage('en')
---

<Base>
  <Hero
    title={[`Indie `, `stories`]}
    tagLines={[
      `Each app I've been working on has a story.`,
      `Let me introduce you to these stories!`,
    ]}
  >
    <Image
      class="hidden sm:block w-1/2 h-auto mx-auto"
      src="/images/computer.png"
      alt="My macbook with a DEV label on the screen"
      width={1109}
      height={698}
    />
  </Hero>

  <Section title="My current focus">
    <ArticleShowcase />
  </Section>

  <Section title="Previous stories">
    <ShowcaseContainer>
      <ArticleShowcase />
      <ArticleShowcase />
    </ShowcaseContainer>

    <SectionCenteredFooter>
      <Button label="Load more articles" />
    </SectionCenteredFooter>
  </Section>
</Base>
