---
import { changeLanguage } from 'i18next'
import Base from '@app/layouts/Base.astro'
import Hero from '@app/components/Hero.svelte'
import Section from '@app/components/Section.svelte'
import ArticleShowcase from '@app/components/ArticleShowcase.svelte'
import ShowcaseContainer from '@app/components/ShowcaseContainer.astro'
import Button from '@app/components/Button.svelte'
import SectionCenteredFooter from '@app/components/SectionCenteredFooter.astro'

changeLanguage('en')
---

<Base>
  <Hero
    title={[`Indie `, `stories`]}
    imageSrc="/images/computer.png"
    imageAlt="My macbook with a DEV label on the screen"
    tagLines={[
      `Each app I've been working on has a story.`,
      `Let me introduce you to these stories!`,
    ]}
  />

  <Section title="My current focus">
    <ArticleShowcase />
  </Section>

  <Section title="Previous stories">
    <ShowcaseContainer>
      <ArticleShowcase />
      <ArticleShowcase />
    </ShowcaseContainer>

    <SectionCenteredFooter>
      <Button label="Load more articles" />
    </SectionCenteredFooter>
  </Section>
</Base>
