---
import { changeLanguage } from 'i18next'
import Base from '@app/layouts/Base.astro'
import Hero from '@app/components/Hero.svelte'
import Section from '@app/components/Section.svelte'
import Timeline from '@app/components/Timeline.svelte'

changeLanguage('en')
---

<!-- TODO TRANSLATIONS -->
<Base title="" description="">
  <Hero
    title={[`I'm Chris, a`, 'Software Engineer']}
    tagLines={[
      `I already said that but, here I am`,
      `Engineer, streamer, indie hacker, fashionista, bassist, basic Twitter user...`,
      `I teach but also still learning how to make quality software`,
    ]}
    arrowLabel="Get to know more about me"
  >
    <!-- TODO BOB IMAGE -->
  </Hero>

  <Section title="Timeline">
    <Timeline />
  </Section>
</Base>
