---
import { changeLanguage } from 'i18next'
import { Image } from '@astrojs/image/components'
import Base from '@app/layouts/Base.astro'
import Hero from '@app/components/Hero.svelte'
import Section from '@app/components/Section.svelte'
import Timeline from '@app/components/Timeline.svelte'

changeLanguage('en')
---

<!-- TODO TRANSLATIONS -->
<Base title="" description="">
  <Hero
    title={['Who is ', 'Chris?']}
    tagLines={[
      `Engineer, streamer, indie hacker, fashionista, bassist, basic Twitter user...`,
      `I teach but also still learning how to make quality software`,
    ]}
    arrowLabel="Get to know more about me"
  >
    <Image
      class="hidden sm:block h-[20rem] w-auto mx-auto"
      src="/images/avatar.png"
      alt={'Something'}
      width={800}
      height={800}
    />
  </Hero>

  <Section title="">Something needs to be here</Section>

  <Section title="Timeline">
    <Timeline />
  </Section>
</Base>
