---
import { t, changeLanguage } from 'i18next'
import { Image } from '@astrojs/image/components'
import Base from '@app/layouts/Base.astro'
import Hero from '@app/components/Hero.svelte'
import Section from '@app/components/Section.svelte'
import Timeline from '@app/components/Timeline.svelte'

changeLanguage('en')
---

<Base
  title={t('about:pageTitle') as string}
  description={t('about:pageDescription') as string}
>
  <Hero
    title={[t('about:heroTitle.base'), t('about:heroTitle.highlight')]}
    tagLines={t('about:heroTagLines', { returnObjects: true })}
    arrowLabel={t('about:heroArrowLabel')}
  >
    <Image
      class="hidden sm:block h-[20rem] w-auto mx-auto"
      src="/images/avatar.png"
      alt={t('about:heroImageAlt')}
      width={800}
      height={800}
    />
  </Hero>

  <Section title={t('about:timelineSection.title')}>
    <Timeline />
  </Section>
</Base>
