---
import Base from '@app/layouts/Base.astro'
import Hero from '@app/components/Hero.svelte'
import Section from '@app/components/Section.svelte'
---

<Base>
  <Hero
    title={[`I'm Chris, a `, `software engineer`]}
    imageSrc="/images/keyboard.png"
    imageAlt="My moonlander keyboard handdrawing"
    tagLines={[
      `I've been working in the industry for +8 years.`,
      `A key aspect of my work is to share knowledge.`,
      `Here are my thoughts, my projects and my mistakes.`,
      `For free!`,
    ]}
    arrowLabel="See what I'm doing"
  />

  <Section title="My latest video">
    <iframe
      class="w-full aspect-video"
      src="https://player.twitch.tv?channel=llcoolchris_&parent=localhost"
      allowfullscreen
    >
    </iframe>
  </Section>
</Base>
