---
import SvelteComponent from '@app/components/SvelteComponent.svelte'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Christopher Katoyi: Software Engineer</title>
  </head>
  <body>
    <h1>Astro</h1>
    <p>Metro Boomin'</p>
    <SvelteComponent />
  </body>
</html>
