---
import { t } from 'i18next'
import { LanguageSelector } from 'astro-i18next/components'

import Typography from './Typography.svelte'
import Socials from './Socials.svelte'
---

<footer class="w-full bg-primary-900 dark:bg-secondary-900">
  <div class="max-w-[1000px] w-full p-10 mx-auto">
    <Typography variant="subheading1" class="mb-3 text-light" disableColorClasses
      >Christopher N. Katoyi Kaba | LL Cool Chris_</Typography
    >

    <div class="mb-6">
      <Socials size="lg" theme="light" />
    </div>

    <LanguageSelector
      class="py-2 px-4 mb-6 hint2 border-2 border-light rounded-md bg-primary-700 dark:bg-secondary-700 text-light"
    />

    <Typography class="text-light" disableColorClasses>{t('footer:copyright')}</Typography
    >
  </div>
</footer>
