---
import '@app/styles/app.css'
import Footer from '@app/components/Footer.astro'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Christopher Katoyi: Software Engineer</title>
  </head>
  <body>
    <div
      class="max-w-[1340px] mx-auto grid grid-rows-mobile md:grid-rows-none md:grid-cols-tablet lg:grid-cols-desktop"
    >
      <nav class="w-full sticky top-0 left-0 bg-primary-200 md:h-fit">Nav</nav>

      <main class="bg-secondary-200">
        <slot />
        <div class="h-[1000px]"></div>
      </main>
    </div>
    <Footer />
  </body>
</html>
