---
import '@app/styles/app.css'
import Nav from '@app/components/Nav.svelte'
import Footer from '@app/components/Footer.astro'

const path = new URL(Astro.request.url).pathname
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Christopher Katoyi: Software Engineer</title>
    <script is:inline>
      // Dark mode script
      if (
        localStorage.theme === 'dark' ||
        (!('theme' in localStorage) &&
          window.matchMedia('(prefers-color-scheme: dark)').matches)
      ) {
        document.documentElement.classList.add('dark')
      } else {
        document.documentElement.classList.remove('dark')
      }
    </script>
  </head>
  <body class="bg-light dark:bg-dark">
    <div
      class="max-w-[1340px] mx-auto grid grid-rows-mobile md:grid-rows-none md:grid-cols-tablet lg:grid-cols-desktop"
    >
      <Nav client:load path={path} />
      <main class="px-4 sm:px-6 md:px-0">
        <slot />
        <div class="h-[1000px]"></div>
      </main>
    </div>
    <Footer />

    <script>
      // Once everything is loaded
      document.documentElement.classList.add('switch-theme-animation')
    </script>
  </body>
</html>
