---
import '@app/styles/app.css'

import i18next from 'i18next'
import { HeadHrefLangs } from 'astro-i18next/components'

import Nav from '@app/components/Nav.astro'
import Footer from '@app/components/Footer.astro'

export interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props

const lang = i18next.language
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
    <HeadHrefLangs />
    <script is:inline>
      // Dark mode script
      // Also sets initial dark mode to avoid flash
      if (
        localStorage.theme === 'dark' ||
        (!('theme' in localStorage) &&
          window.matchMedia('(prefers-color-scheme: dark)').matches)
      ) {
        document.documentElement.classList.add('dark')
      } else {
        document.documentElement.classList.remove('dark')
      }
    </script>
  </head>

  <body class="bg-light dark:bg-dark">
    <div
      class="max-w-[1340px] mx-auto grid grid-rows-mobile md:grid-rows-none md:grid-cols-tablet lg:grid-cols-desktop"
    >
      <Nav />
      <main class="px-4 sm:px-6 min-h-screen">
        <slot />
      </main>
    </div>
    <Footer />

    <script is:inline>
      // Once everything is loaded
      document.documentElement.classList.add('switch-theme-animation')
    </script>
  </body>
</html>
