---
import { changeLanguage } from 'i18next'
import Base from '@app/layouts/Base.astro'
import Hero from '@app/components/Hero.svelte'
import Section from '@app/components/Section.svelte'
import ArticleShowcase from '@app/components/ArticleShowcase.svelte'

changeLanguage('fr')
---

<Base>
  <Hero
    title={[`Indie `, `stories`]}
    imageSrc="/images/computer.png"
    imageAlt="My macbook with a DEV label on the screen"
    tagLines={[
      `Each app I've been working on has a story.`,
      `Let me introduce you to these stories!`,
    ]}
  />

  <Section title="My current focus">
    <ArticleShowcase />
  </Section>

  <Section title="Previous stories">
    <ArticleShowcase />
    <ArticleShowcase />
  </Section>
</Base>
